* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.sidebar {
    display: flex;
    align-items: start;
    padding-right: 30px;
    flex-direction: column;

    width: 80px;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);

    border-left: 1px solid rgba(255, 255, 255, 0.7);

    transition: width 0.5s ease;

    ul {
        list-style: none;
        margin-top: 20px;
        overflow-y: auto;
        scrollbar-width: none;
        height: calc(100% - 100px);
        li {
            cursor: pointer;
            transition: background 0.5s ease;
            display: flex;
            flex-direction: "row";
            border-radius: 4px;

            a {
                color: #b1b1b1;
                padding: 10px;
                display: none;
                font-weight: 500;
                white-space: nowrap;
                text-decoration: none;
            }

            span {
                transition: color 0.5s ease;
                padding: 12px 10px;
                color: #b1b1b1;
            }
        }
        li:hover {
            background: #fff;
        }

        h4 {
            color: #222;
            font-weight: 500;
            display: none;
            margin-bottom: 10px;
        }

        hr {
            margin: 10px 8px;
            border: 1px solid #b1b1b1;
        }
    }
}

.sidebar:hover {
    width: 260px;

    ul {
        h4 {
            display: block;
            color: white;
        }

        hr {
            border-color: transparent;
        }

        li span {
            color: #b1b1b1;
            padding: 12px 10px;
        }
        li a {
            display: block;
        }
    }
}
