/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    --webkit-backdrop-filter: blur(3px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.5s ease;
}
.sidebar:hover {
    width: 260px;
}
.sidebar .logo {
    font-size: 18px;
    font-weight: 100;
    transition: all 1s;
    padding-bottom: 5px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #be949c;
    /* box-shadow: 0px 0px 20px #4b5fe9; */
    animation: pulse 1s alternate infinite;
}

@keyframes pulse {
    10% {
        box-shadow: 0px 0px 5px #be949c;
    }
    25% {
        box-shadow: 0px 0px 10px #be949c;
    }
    50% {
        box-shadow: 0px 0px 15px #be949c;
    }

    100% {
        box-shadow: 0px 0px 20px #be949c;
    }
}

.sidebar:hover .logo h2 {
    display: block;
}
.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}
.sidebar .links::-webkit-scrollbar {
    display: none;
}
.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
    transition: background 0.5s ease;
}
.links li:hover {
    cursor: pointer;
    background: #fff;
}
.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}
.sidebar:hover .links h4 :hover {
    color: #222;
}
.sidebar:hover .links h4 {
    display: block;
    color: white;
    transition: color 0.5s ease;
}
.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}
.sidebar:hover .links hr {
    border-color: transparent;
}
.links li span:hover {
    color: #222;
}
.links li span {
    transition: color 0.5s ease;
    padding: 12px 10px;
    color: white;
}
.links li a {
    padding: 10px;
    color: #fff;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}
.links li a:hover {
    color: #222;
}

.sidebar:hover .links li a {
    display: block;
}
.links .logout-link {
    margin-top: 20px;
}
